.navbar {
  width: 100%;
  height: auto;
  padding: 12px 3%;
  background-color: aqua;

  .title_navbar {
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 200;
    font-style: italic;
    text-color: #fff;
  }
}
